html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#pano {
    float: left;
    height: 84%;
    width: 50%;
}

#map {
    float: right;
    height: 84%;
    width: 50%;
}

#elevation {
    height: 13%;
    width: 100%;
    clear: both;
}

#controls {
    width: 100%;
    height: 3%;
}


